<h3>Nota's</h3>

<div class="row">
<% @notities.each do |notitie| %>   
    <div class="col-md-5   col-md-offset-1 alert alert-info" style="background-color:lavender;">
        <p class="text-center"><%=notitie.notitie %></p>
    </div>
<% end %>
</div>

<%= link_to 'Toevoegen', new_notitie_path, {class: "btn btn-sm btn-primary"} %>