<% title("Welkom Page") %>
<h1>Welkom <small>op de cloud 2004.be website</small></h1>
<p>Gebruik het menu om in te loggen of maak een nieuw account aan.</p>
<img src="pro.jpg" alt="ronde afbeelding" class="img-circle">
<br>
<div>Altijd alles bij de hand via de cloud...<br>
(eveneens aangepast voor smartphones)</div>
<br>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Volgende items zijn reeds beschikbaar</h4>
      <p class="list-group-item-text"><i>mijn</i> website</p>
      <p class="list-group-item-text"><i>mijn</i> notitie</p>
      <p class="list-group-item-text"><i>mijn</i> gezondheid</p>
      <p class="list-group-item-text"><i>mijn</i> meterstand</p>
      <p class="list-group-item-text"><i>mijn</i> aankoop</p>
      <p class="list-group-item-text"><i>mijn</i> onderhoud</p>
      <p class="list-group-item-text"><i>mijn</i> culinair</p>
      <p class="list-group-item-text"><i>mijn</i> prestatie &nbsp&nbsp<span class="label label-info">Nieuw</span></p>
  </a>
</div>
