<% title("Welkom Page") %>
<h1>Welkom <small>op de private 2004.be website.</small></h1>
<p>Gebruik het menu om in te loggen of om een nieuw account aan te maken.</p>
<img src="pro.jpg" alt="ronde afbeelding" class="img-circle">
<br>
<div>Heb je wel eens een probleem om de kleine dingen bij te houden of heb je ze niet altijd bij de hand<br>plaats ze dan via deze website in de cloud.
Raadpleeg ze via het web of op je mobiel.</div>
<br>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Volgende modules zijn reeds beschikbaar</h4>
    <p class="list-group-item-text">favoriete websites</p>
    <p class="list-group-item-text">kleine memo's</p>
    <p class="list-group-item-text">medisch dossier</p>
    <p class="list-group-item-text">meterstanden</p>
    <p class="list-group-item-text">uw kinderen</p>
    <p class="list-group-item-text">aankoop en garantie</p>
    <p class="list-group-item-text">onderhoud</p>
    <p class="list-group-item-text">culinair</p>
  </a>
</div>
