<% title("Welkom Page") %>
<h1>Welkom <small>op de cloud 2004.be website</small></h1>
<p>Gebruik het menu om in te loggen of om een nieuw account aan te maken.</p>
<img src="pro.jpg" alt="ronde afbeelding" class="img-circle">
<br>
<div>Altijd alles bij de hand via de cloud...<br>
Zowel in mobiele vorm als voor de pc.</div>
<br>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Volgende modules zijn reeds beschikbaar</h4>
    <p class="list-group-item-text">favoriete websites</p>
    <p class="list-group-item-text">kleine memo's</p>
    <p class="list-group-item-text">medisch dossier</p>
    <p class="list-group-item-text">meterstanden</p>
    <p class="list-group-item-text">uw kinderen</p>
    <p class="list-group-item-text">aankoop en garantie</p>
    <p class="list-group-item-text">onderhoud</p>
    <p class="list-group-item-text">culinair</p>
  </a>
</div>
