<h1>Dashboard (protected)</h1>
<p>Pagina enkel voor ingelogde gebruikers<em>views/pages/inside</em></p>
<!--
    <p>You can change the page users see after successfully signing in within the method <em>after_sign_in_path_for</em> inside <strong>application_controller.rb</strong></p>
-->