<div class="row">
  <p></p>
</div>
<div class="row">
  <div class="col-md-4   alert alert-info">
      Ik heb <b><%= @website_aantal %></b> website(s) toegevoegd aan mijn favorieten.<br>
      Als recentste <b><%= link_to @website.sitenaam, websites_path(:teller => @website.id, :url => @website.url) %></b> en met de meeste hits :<br>
      <%  @websites_pop.each do |website| %>
      <b><%= link_to website.sitenaam, websites_path(:teller => website.id, :url => website.url) %></b>
      <% if website != @websites_pop.last %> ,<% end %>
      <%  end %>
      <p align='right'>Voeg <b><%= link_to 'hier' , new_website_path %></b> een nieuwe toe.</p>
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div> 
</div>
<div class="row">
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:yellow;">
    ...
  </div> 
</div>
<div class="row">
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div>
  
  <div class="col-md-4  alert alert-info" style="background-color:lavender;">
    ...
  </div> 
</div>

<!--
    <p>You can change the page users see after successfully signing in within the method <em>after_sign_in_path_for</em> inside <strong>application_controller.rb</strong></p>
-->