<div class="form-inline.clearfix">
	<div class="nested-fields">
		<table class="tabel">
			<tr>
				<td><%= f.input :naam, label: false, input_html: { class: 'form-input form-control' } %></td>
				<td><%= link_to_remove_association "-", f, class: "btn btn-primary form-button " %></td>
			</tr>
		</table>
	</div>
</div>