<div class="row">
	<div class="col-md-6">
		<%= f.input :stap, label: false, input_html: { class: 'form-textarea form-control' } %>
	</div>
	<div class="col-md-6">
		<%= link_to_remove_association "-", f, class: "btn btn-primary form-button" %>
	</div>
</div>