		<div class="col-sm-2 col-sm-offset-1"> 
        	<div class="list-group">
				<p align="center"><%= link_to 'Todos menu', todos_path, :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe todo lijst', new_todo_path, :class =>"list-group-item" %>
				<%= link_to "Recent", "#", :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to inside_path, :class => "list-group-item active" do %>
					<i class="glyphicon glyphicon-th"></i>&nbsp; Dashboard
				<% end %></strong></p>
          	</div>
        </div><!--/.sidebar-offcanvas-->