		<div class="col-xs-12 col-sm-1"></div><!--/om ruimte te laten tussen tabel en menu-->
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        	<div class="list-group">
				<p align="center"><%= link_to 'Todos menu', todos_path, :class =>"list-group-item active" %>
				<%= link_to 'Nieuwe todo lijst', new_todo_path, :class =>"list-group-item" %>
				<%= link_to "Recent", "#", :class =>"list-group-item" %>
				<p align="center"><strong><%= link_to "Terug naar het dashboard", inside_path, :class => "list-group-item active" %></strong>

          	</div>
        </div><!--/.sidebar-offcanvas-->