/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "framework_and_overrides";
@import "font-awesome-sprockets.css";
@import "font-awesome.css";

.navbar{
  min-height:1px; //* or whatever height you require / WERKT maar kan de hoogte alleen maar groter maken
}

.panel-body {
 //*    text-overflow: ellipsis;
 //*   overflow: hidden;
     word-wrap: break-word; //* om in de notitie woorden te breken als de notities buiten de panel komen, werkt niet
}

//* deze lijnen werden toegevoegd om beter op de HOME page css af te stemmen
html,
body {
	height: 100%;
  	background-color: #333;
		  color: #fff;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}

table {
  	background-color: #333;
}

.tr-warning {
  	color: red;
}
.tr-success {
  	color: green;
}

thead {
	text-decoration: none;
}

.invulformulier{
  margin-top: 30px;
  margin-bottom: 20px;
}
.zoekformulier {
  margin-top: 30px;
  margin-bottom: 20px;
}

//* deze lijnen werden toegevoegd omdat de container anders te smal was maar werkt het nu nog mobiel
@media (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}