/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "framework_and_overrides";
@import "font-awesome-sprockets.css";
@import "font-awesome.css";

//* 9/11/2015 dit heeft te maken met de algemene stijl
html,
body {
  height: 100%;
  background-color: #333;
  color: #fff;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Top Menu
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 15px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);  
  position:fixed;
  bottom:0;
  left:0;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


//* dit is om de alert box naar beneden te brengen onder de titel
.bericht {
  	padding-top: 10px;
}

/* Dit is de stijl van de titel op elke pagina */
.note-titel {
	background-color: #6E6E6E;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #282626;
}

/* Kleur rood en groen voor de kleur van de icons */
.rood {
	color: red;
}
.groen {
	color: green;
}

/* Dit is de kleur van de tabel titel */
.tabel-titel {
	color: #6E6E6E;
}

/* Bij de formulieren moet dit anders te dicht bij de titel */
.input-formulier {
	margin-top: 5%;
}



//* het onderstaande nog nazien
table {
  	background-color: #333;
}

.tr-warning {
  	color: red;
}
.tr-success {
  	color: green;
}

thead {
	text-decoration: none;
}

.invulformulier{
  margin-top: 30px;
  margin-bottom: 20px;
}
.zoekformulier {
  margin-top: 20px;
  margin-bottom: 20px;
}

//* deze lijnen werden toegevoegd omdat de container anders te smal was maar werkt het nu nog mobiel
@media (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}