// Place all the styles related to the Notitie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 10px;
}

div.note {
    width: 400px;
	height: auto;
	padding: 15px;
	margin: 20px;
    background-color: #FFFF99;
	color: black;
	box-shadow: 7px 7px 5px grey;
}

div.note-important {
    width: 400px;
	height: auto;
	padding: 15px;
	margin: 20px;
    background-color: #FFCCCC;
	color: black;
	box-shadow: 7px 7px 5px grey;
}
