<p id="notice"><%= notice %></p>

<p>
  <strong>Omschrijving:</strong>
  <%= @categorie.omschrijving %>
</p>

<%= link_to 'Wijzig', edit_categorie_path(@categorie) %> |
<%= link_to 'Terug', categories_path %>
