<div id="footer">
  <div class="container">
    <div class="row footer-first-row">
      <div class="col-xs-12 text-center">
        <small>&copy; 2014 - Jurgen Bosmans </small>
      </div>
    </div> 
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>